*{
    padding: 0%;
   margin: 0%; 
   box-sizing: border-box;
}
/* #d{
 width: 500px;
 height: 250px;
   background-color: green;
    display: flex;
    justify-content: center;
  align-items: center;
   
} */

body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}
#d {
    width: 300px; 
    padding: 20px;
    border: 1px solid pink;
    border-radius: 10px;
    background-color: rgb(238, 81, 81);
    box-shadow: 0 0 10px ;
   
   
}

#b:hover {
    background-color: yellowgreen;
   
  }
